* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: "Outfit", sans-serif;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #001005;
    --text-color: #fff;
    --main-color: #a4dfc1;
}